langchain==0.3.25
langchain-community==0.3.23
langchain-huggingface==0.1.2
langchain-groq==0.3.2
langchain-core==0.3.55
langchain-text-splitters==0.3.8
faiss-cpu==1.10.0
sentence-transformers==3.4.1
transformers==4.51.3
torch==2.6.0
pypdf==5.4.0
python-dotenv==1.1.0
streamlit==1.44.1
numpy==2.2.4
